/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Helvetica Neue', sans-serif;
}

main {
    background-color: rgb(246, 245, 243);
}

.bold {
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 20px;
}

.container-receipt {
    background-color: white;
}

.none {
    display: none;
}

.none-social {
    display: none;
    color: black;
    font-weight: bold;
    padding-left: 3px;
}

a {
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

/* Header */

h1 {
    font-family: 'Nerko One', cursive;
    color: rgb(255, 150, 20);
    font-size: 48px;
    text-align: center;
}

/* Title and Rate Section */

.title-section {
    display: flex;
    justify-content: space-between;
}

.fa-star {
    color: rgb(255, 150, 20);
}

h2 {
    color: rgb(78, 57, 105);
    font-size: 20px;
}

.rate-section {
    font-size: 15px;
}

button {
    padding: 10px;
    background-color: rgb(255, 150, 20);
    border-radius: 50px;
    color: white;
    border: none;
    font-size: 10px;
}

.topic,
.title-section {
    padding: 10px 0;
}

.topic {
    padding-bottom: 0;
    font-size: 10px;
    color: gray;
}

/* Video Section */

iframe {
    width: 100%;
    height: 250px;
}

/* Kcal & Meal Type Section */

.kcal-container,
.vegetarian-container {
    background-color: rgb(246, 245, 243);
    margin: 0 20px;
    padding: 20px 10px;
}

.kcal-container {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.kcal {
    background-color: rgb(78, 57, 105);
    border-radius: 2px;
    color: white;
    padding: 4px 7px;
    font-size: 12px;
}

.info {
    color: rgb(255, 150, 20);
    font-weight: bold;
    font-size: 15px;
}

.vegetarian {
    font-size: 12px;
}

.fa-carrot {
    padding-right: 2px;
}

/* Diffuclt and Time Section */

.difficult-section {
    padding: 0;
    margin: 0 20px;
}

ul {
    margin: 20px 0;
    list-style-type: none;
}

li {
    margin-bottom: 15px;
}

.fa-li {
    color: rgb(255, 150, 20);
}

.pa-bottom {
    padding-bottom: 30px;
}

/* Social Button */

.social-button {
    display: flex;
    flex-wrap: wrap;
}

.social-button a {
    padding: 15px 20px;
    background-color: white;
    border-radius: 40%;
    margin: 15px;
}

.fa-facebook {
    color: blue;
}

.fa-twitter {
    color: rgb(102, 188, 217);
}

.fa-instagram {
    color: rgb(204, 143, 153);
}

.fa-pinterest,
.fa-youtube {
    color: red;
}

/* Banner */

.ads {
    display: none;
}

/* Presentation Section */

h3 {
    font-size: 40px;
    margin: 30px 0;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-bottom {
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(255, 150, 20);
}

.image-tiramisu {
    width: 50%;
    margin-bottom: 20px;
}

.story {
    line-height: 30px;
}

/* Footer */

footer {
    background-color: rgb(78, 57, 105);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

footer p {
    padding: 20px 0 10px 0;
    font-weight: bold;
}

footer ul {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.li-footer {
    width: calc(100% / 4 - 15px);
}

.li-footer a {
    color: white;
}

.enterprice-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive */

@media screen and (min-width: 767px) {
    h1 {
        text-align: left;
        margin-left: 10px;
        font-size: 66px;
    }

    h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .none {
        display: inline-block;
    }

    .title-section,
    .topic {
        padding: 30px 0 5px 0;
    }

    .topic {
        font-size: 15px;
    }


    button,
    .rate-section {
        font-size: 20px;
    }

    /* Video Section */

    iframe {
        height: 450px;
    }

    /* Difficult Section */

    .fa-ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 0;
        justify-content: left;
    }

    .fa-ul li {
        width: 30%;
    }

    /* Social Section */

    .social-button {
        display: flex;
        flex-wrap: wrap;
    }

    .social-button a {
        padding: 15px 50px;
        background-color: white;
        border-radius: 35%;
        margin: 15px;
    }

    /* Banner */

    .ads {
        display: block;
        margin: 20px;
    }

    /* Presentation Section */

    .presentation {
        display: inline-block;
    }

    .image-tiramisu {
        float: left;
        margin-right: 10px;
    }

    /* Footer */

    .li-footer {
        width: calc(100% / 5 - 40px);
        white-space: nowrap;
    }

    footer ul {
        gap: 40px;
    }
}

/* Responsive 992px */

@media screen and (min-width: 991px) {
    h1 {
        font-size: 76px;
    }

    h2 {
        font-size: 45px;
    }

    .topic {
        font-size: 20px;
    }


    button,
    .rate-section {
        font-size: 20px;
    }

    /* Video Section */

    .container-receipt {
        display: flex;
    }


    iframe {
        width: 70%;
        height: 500px;
    }

    .info-receipt {
        width: 30%;
        height: 500px;
    }


    .difficult-section ul {
        display: flex;
        flex-direction: column;
    }

    .fa-ul li {
        width: 100%;
    }

    .none-social {
        display: inline-block;
    }

    .social-button a {
        padding: 15px 30px;
        background-color: white;
        border-radius: 35%;
        margin: 15px;
    }

    .image-tiramisu {
        width: 350px;
        height: 200px;
    }

    /* Footer */

    footer {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 30px;
    }

    .enterprice-info {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .enterprice-info p {
        text-align: left;
    }


    footer ul {
        display: flex;
        flex-direction: row;
        color: white;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .li-footer a {
        color: white;
    }

    .li-footer {
        width: calc(100% / 5 - 40px);
        white-space: nowrap;
    }

    footer ul {
        gap: 40px;
    }

}

@media screen and (min-width: 1221px) {
    .container {
        margin: 0 auto;
    }
}